.main-campaign-container {
    min-height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5rem;
    max-width: 90%;
    width: 100%;
}

#zakat-cta {
    background-color: #b3212c;
    color: #fff;
    font-weight: 900;
    border: none;
}